{{! Render the post for editing }}
<div class="card mt-4 custom-card">
  <form class="add-comment" data-post_id="{{posts.id}}">
    <div class="card-header">
      {{! add input for the title }}
      <label for="editTitle">Title</label>
      <input
        value="{{posts.title}}"
        type="input"
        class="form-control"
        id="editTitle"
      />
    </div>
    <div class="card-body my-2">
      <div class="form-group mp-1">
        <label for="editContent">Comment:</label>
        <textarea
          type="input"
          class="form-control"
          id="editContent"
          rows="3"
        >{{posts.content}}</textarea>
      </div>
      {{#if posts.new}}
        <button id="btnNew" class="btn btn-primary mt-2">Add New Post</button>
      {{else}}
        <button id="btnUpdate" class="btn btn-primary mt-2">Update Post</button>
        <button
          id="delPost"
          class="btn btn-danger mt-2"
          data-id={{posts.id}}
        >Delete Post</button>
      {{/if}}
    </div>
  </form>
</div>
<script src="/js/posts.js"></script>